:root{
    --primary-color: #bb2020;
    --secondary-color: #bb993b;
    --dark-color: #292929;
    --white-color: #e7e7e7;
}

body{
    color: var(--dark-color);
}

nav{
    background-color: var(--dark-color);
}
.navbar-brand>img{
    padding-right: 10px;
}

footer{
    background-color: var(--dark-color);
    padding-right: 1rem;
}
footer .social>a{
    color: var(--primary-color);
    opacity: 0.60;
}
footer .social>a:hover{
    opacity: 1;
}
#copyright{
    color: var(--primary-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}
#bsicon{
    color: purple;
}
#jsicon{
    color: rgb(226, 211, 4);
}
#html5icon{
    color: orangered;
}
#cssicon{
    color:rgb(11, 82, 214);
}
.checklist > li i{
    color: var(--secondary-color)
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.logo{
    width: 250px;
    height: auto;
}